@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    height: 100%;
    width: 100%;
    font-family: 'Tilt Neon';
    background-image: url(./Ressources/Pictures/bright-pop-landscape-design.jpg);
    background-size: auto;
    color: #ffffffcc;
}
.box{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px ;
    background-color: #00000060;
    border: 10px solid transparent;
    border-radius: 4px 4px 4px 4px;
    animation: neon-border 1s ease-in-out infinite alternate;
}
#title-card{
    font-family: 'Neonderthaw';
    color: #ffffffcc;
   }
.warp-issue{
    flex-wrap: nowrap;
}
@media (max-width:1300px) {
    .warp-issue {
        flex-wrap: wrap;
    }
}
@keyframes neon-border {
    from {
        box-shadow: 0 0 10px orangered;
    }
    to {
        box-shadow: 0 0 20px orangered;
    }
}